.timer-display {
    font-size: 2em;
    position: absolute;
    right: 40px;
    top: 30px;
    background-color: white;
    border-radius: 5px;
    padding: 0.5em;
    width: 100px;
    text-align: center;
}