@import '../../scss/_colors.scss';

#puzzle-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.puzzle-done {
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 600;
    position: absolute;
    color: white;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.581);
    border-radius: 10px;
    z-index: 5;
}

.return-btn {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    background-color: $primary-color;
    font-size: 1em;
    font-weight: 600;
    color: white;
    border: 2px solid rgba(255, 0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all 180ms ease-in;
}

.return-btn:hover {
    background: whitesmoke;
    border: 2px solid $primary-color;
    color: $primary-color;
}

#bg-changer {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: conic-gradient($mod-color-1 120deg, $mod-color-2 120deg 240deg, $mod-color-3 240deg);
    cursor: pointer;
}