#admin-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#form-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#logout-btn, #view-btn {
    position: absolute;
    top: 50px;
    color: white;
    font-weight: 600;
    background-color: rgb(219, 5, 5);
    border: 2px solid rgba(255, 0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 250ms ease-in;
}

#logout-btn:hover, #view-btn:hover {
    border: 2px solid rgb(219, 5, 5);
    background-color: white;
    color: rgb(219, 5, 5);
}