$primary-color: rgb(128, 0, 0);
$secondary-color: rgb(140, 47, 47);
$bg-primary-color: rgb(242, 240, 240);
$active-color: rgb(252, 92, 68);

$mod-color-1: rgb(17, 17, 17);
$mod-color-2: rgb(238, 238, 238);
$mod-color-3: rgb(113, 216, 216);